 <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home"><mat-icon>home</mat-icon>
          Home</button>
        <button mat-menu-item routerLink="/hotel-list"><mat-icon>hotel</mat-icon>hotel-list</button>
        <button mat-menu-item routerLink="/add-hotel"><mat-icon> edit</mat-icon>add-hotel</button>
      </mat-menu>
      <span><mat-icon> hotel</mat-icon>Hotel Listing</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logOut()">
        <mat-icon>send</mat-icon>
      </button>
     
    </mat-toolbar>
  </p>