<div class="container mx-auto mt-2" style="width: 20vw;">
    <form [formGroup]="addHot" (ngSubmit)="onSubmit()">
    
      <!--img link input-->
      <div class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>Import Img Link</mat-label>
          <input matInput  formControlName="imgLink">
        </mat-form-field>
      </div>

     <!--name input-->
     <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Add Hotel Name</mat-label>
        <input matInput  formControlName="name" required>
        <mat-error *ngIf="f.name.invalid">You Shoud Add Hotel Name</mat-error>
      </mat-form-field>
    </div>

    <!--registration day -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Registration Day</mat-label>
        <input matInput  formControlName="registerDay" required>
        <mat-error *ngIf="f.registerDay.invalid">You Shoud Add Registration Day</mat-error>
      </mat-form-field>
    </div>
      
      <!--enter stars -->
      <div class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>Add Rating</mat-label>
          <input type="number" matInput  formControlName="stars" min="0" max="5" required>
          <mat-error *ngIf="f.stars.invalid">You Shoud Add Rating</mat-error>
          <mat-error *ngIf="f.stars.hasError('min')">Rating Should Be Minimum 0</mat-error>
          <mat-error *ngIf="f.stars.hasError('max')">Rating Should Be Maximum 10</mat-error>
        </mat-form-field>
      </div>
        <!--details -->

        <mat-form-field class="input-container" appearance="fill">
          <mat-label>Enter Details</mat-label>
          <textarea matInput formControlName="details"></textarea>
          <mat-error *ngIf="f.details.invalid">You Shoud Add Details</mat-error>
        </mat-form-field>
      

    
     
    
         
          <button type="submit" mat-raised-button color="warn" [disabled]="!addHot.valid" class="margin-btn">Add Hotel</button>
    </form>
</div>