

<table mat-table [dataSource]="hotels" class="mat-elevation-z8 movie-table">
  <!-- Poster Column -->
  <ng-container matColumnDef="movie-poster">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let movie"><img [src]="movie.imgLink" alt="poster" style="width: 70px;"></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="movie-name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let hotel">{{hotel.name}}</td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="movie-year">
    <th mat-header-cell *matHeaderCellDef>Registration Day</th>
    <td mat-cell *matCellDef="let hotel">{{hotel.registerDay}}</td>
  </ng-container>

    <!-- IMDB Column -->
    <ng-container matColumnDef="movie-imdb">
      <th mat-header-cell *matHeaderCellDef>Stars</th>
      <td mat-cell *matCellDef="let hotel"><ngb-rating [(rate)]="hotel.stars" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      </td>
    </ng-container>
    
    <!-- More Info Column -->
    <ng-container matColumnDef="hotel-details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let hotel">
        <button mat-mini-fab color="warn" (click)="selectHotel(hotel); openDialog()" data-toggle="modal"
      data-target="#hotelDetails">
      <mat-icon>more_horiz</mat-icon>
    </button>
    </td>
    </ng-container>
    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!--გულების რეითინგის თემფლეითი-->
<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&star;</span>&star;
  </span>
</ng-template>