<div>
    <div class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">The Best Hotel Listing App Is HERE!</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Everyone here help each other choose their beloved hotel, so help them by rating or get receive best feedbacks from our users!</p>
                        <a class="btn btn-primary btn-xl" routerLink="/hotel-list">See The Rates</a>
                    </div>
                </div>
            </div>
            
            <!-- About-->
            <section class="page-section bg-primary" id="about">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2 class="text-white mt-0">You Can Also Rate</h2>
                            <hr class="divider divider-light" />
                            <p class="text-white-75 mb-4">Do you have pictures? <br>
                                Do you know the Name of the Place? <br>
                                That is all it needs!
                            </p>
                            <a class="btn btn-light btn-xl" routerLink="/add-hotel">Rate Hotel</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


